@import url("https://fonts.googleapis.com/css2?family=Play&display=swap");

* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}
nav,
footer,
header,
aside {
	display: block;
}
html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}
input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

body {
	font-family: "Play", sans-serif;
	font-size: 13px;
	line-height: 24px;
	color: white;
	background: rgb(184, 178, 178);
}
a {
	color: white;
}
.wrapper {
	padding: 15px;
	max-width: 1440px;
	margin: 0 auto;
}
nav {
	width: 90%;
	border: 1.5px solid rgb(82, 78, 71);
	border-radius: 3px;
	margin: 0 auto;
	padding: 3px;
	font-size: 20px;
	line-height: 40px;
}

[type="search"] {
	position: relative;
	left: 5px;
	border: 1px solid black;
	border-radius: 5px;
	font-size: 20px;
	padding: 2px;
}
.nav_link-1 {
	float: right;
	margin: 0 20px 0 20px;
}

.nav_link-2 {
	float: right;
}

.top-content {
	width: 90%;
	margin: 0 auto;
}
.top-content__container {
	width: 100%;
}
.top-content__banner {
	width: 100%;
	height: 500px;
	margin: 30px auto;
	background: url("../img/banner.jpg") center/100% no-repeat;
}
.top-content__banner_text {
	line-height: 200px;
	font-size: 40px;
	padding-left: 20px;
}
.top-content__banner_link {
	font-size: 40px;
	padding-left: 20px;
}
.top-content__banner_link a {
	color: yellow;
}
.top-content__tth {
	width: 100%;
	border-top: 3px solid rgb(82, 78, 71);
	border-bottom: 3px solid rgb(82, 78, 71);
	margin: 30px 0;
	border-radius: 30px;
	float: left;
	line-height: 50px;
	font-size: 25px;
}
.top-content__tth_species {
	float: left;
	width: 100%;
	text-align: center;
}
.top-content__content_item-1 {
	float: left;
	background: url("../img/mount.jpg") center/100% no-repeat;
	width: 30%;
	height: 310px;
	margin: 0 1.66%;
	text-align: center;
}
.top-content__content_item-2 {
	float: left;
	height: 310px;
	width: 30%;
	margin: 0 1.66%;
	text-align: center;
	background: url("../img/road.jpg") center/100% no-repeat;
}
.top-content__content_item-3 {
	float: left;
	width: 30%;
	height: 310px;
	margin: 0 1.66%;
	text-align: center;
	background: url("../img/bmx.jpeg") center/100% no-repeat;
}
.body-content {
	width: 100%;
	line-height: 30px;
	margin: 30px 0;
	font-size: 20px;
}
.body-content__container {
	width: 100%;
	margin: 30px 0;
	float: left;
	border-top: 3px solid rgb(82, 78, 71);
	border-bottom: 3px solid rgb(82, 78, 71);
	border-radius: 2px;
}
.body-content___item-1 {
	float: left;
	width: 40%;
	height: 390px;
	margin: 0 5%;
	text-align: center;
	background: url("../img/mount1.jpg") center/100% no-repeat;
}
.body-content___item-2 {
	float: left;
	width: 40%;
	height: 390px;
	margin: 0 5%;
	text-align: center;
	background: url("../img/mount2.jpg") center/100% no-repeat;
}
.body-content___item-3 {
	float: left;
	width: 40%;
	height: 390px;
	margin: 0 5%;
	text-align: center;
	background: url("../img/road1.jpg") center/100% no-repeat;
}
.body-content___item-4 {
	float: left;
	width: 40%;
	height: 390px;
	margin: 0 5%;
	text-align: center;
	background: url("../img/road2.jpg") center/100% no-repeat;
}
.body-content___item-5 {
	float: left;
	width: 40%;
	height: 390px;
	margin: 0 5%;
	text-align: center;
	background: url("../img/bmx1.jpg") center/100% no-repeat;
}
.body-content___item-6 {
	float: left;
	width: 40%;
	height: 390px;
	margin: 0 5%;
	text-align: center;
	background: url("../img/bmx2.jpg") center/100% no-repeat;
}

@media (max-width: 1280px) {
	a {
		color: rgb(63, 56, 56);
	}
	.top-content__tth {
		float: none;
		width: 100%;
		margin: 30px auto;
		line-height: 50px;
		font-size: 25px;
		border-bottom: none;
		border-top: 3px solid rgb(82, 78, 71);
		border-radius: 0px;
	}
	.top-content__banner_text {
		line-height: 80px;
		padding: 40px 0 0 20px;
	}
	.top-content__banner_link {
		padding: 200px 0 0 20px;
	}
	.top-content__tth_species {
		width: 100%;
		text-align: center;
		float: none;
	}
	.top-content__content_item-1 {
		background: url("../img/mount.jpg") center/100% no-repeat;
		width: 100%;
		height: 310px;
		margin: 0 auto;
		margin-top: 20px;
		text-align: left;
		padding: 30px;
		float: none;
	}
	.top-content__content_item-2 {
		height: 310px;
		width: 100%;
		margin: 20px auto;
		text-align: left;
		padding: 30px;
		background: url("../img/road.jpg") center/100% no-repeat;
		float: none;
	}
	.top-content__content_item-3 {
		float: none;
		margin: 0 auto;
		width: 100%;
		height: 310px;

		text-align: left;
		padding: 30px;
		background: url("../img/bmx.jpeg") center/100% no-repeat;
	}
	.body-content___item-1,
	.body-content___item-2,
	.body-content___item-3,
	.body-content___item-4,
	.body-content___item-5,
	.body-content___item-6 {
		line-height: 15px;
		margin-top: 10px;
	}
}
@media (max-width: 768px) {
	nav {
		width: 90%;
		border: none;
		border-radius: none;
		margin: 0 auto;
		position: relative;
		left: none;
		right: none;
		line-height: 50px;
		text-align: center;
		font-weight: bold;
		font-size: 20px;
	}

	.top-content__banner_link a {
		color: yellow;
	}
	[type="search"] {
		border: 1.5px solid rgb(82, 78, 71);
		border-radius: 3px;
		margin: 0 auto;
		height: 50px;
		width: 100%;
		display: block;
		position: relative;
		left: 0;
		text-align: center;
		padding: 0 0 0 25px;
		font-weight: bold;
		font-size: 20px;
	}
	.nav_link-1 {
		float: none;
		margin: 20px auto;
		display: block;
		border: 1.5px solid rgb(82, 78, 71);
		border-radius: 3px;
		background: white;
	}
	[type="search"]::placeholder {
		background: white;
	}

	.nav_link-2 {
		float: none;
		margin: 0 auto;
		display: block;
		border: 1.5px solid rgb(82, 78, 71);
		border-radius: 3px;
		background: white;
	}
	.top-content__banner {
		margin: 0 auto 30px auto;
	}
	.top-content__banner {
		width: 100%;
		height: 200px;
		margin: 30px auto;
		background: url("../img/banner.jpg") center/100% no-repeat;
	}
	.top-content__banner_text {
		line-height: 30px;
		font-size: 15px;
		padding-left: 20px;
		padding: 30px 0 0 20px;
	}
	.top-content__banner_link {
		font-size: 20px;
		padding: 20px 0 0 20px;
	}
	.top-content__tth_species a {
		
		color: rgb(126, 28, 28);
	}


.body-content___item-1,
.body-content___item-2,
.body-content___item-3,
.body-content___item-4,
.body-content___item-5,
.body-content___item-6 {
	height: 180px;
	line-height: 18px;
	margin: -15px 5%; ;
}
.body-content___item-1,.body-content___item-2{
	margin-top: 15px;
}
.top-content__content_item-1,
.top-content__content_item-2,
.top-content__content_item-3 {
	height: 200px;
	margin: 10 auto;
}
.top-content__content_item-3{
	margin-bottom: -50px;
}

